@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


body {

    background-color: black;
    font-family: 'Libre Franklin', sans-serif;
}

p,h1,h2,h3 {

    color: white;
}

.card-title, .logo, .righteoustitle{

    font-family: 'Righteous', cursive;
}

.text-orange-500 {

    color: rgb(249 115 22);
}
    
.text-green-500 {
    
    color: rgb(34 197 94);
}
    
.text-red-500 {
    
    color: rgb(239 68 68);
}